.list-search-dropdown {
    .search-input{
        padding: 15px 20px;
        input {
            width: 100%;
            padding: 10px;
            margin: 0;
            box-sizing: border-box;  
            border: 1px solid #a1a1a1;
            padding: 10px 10px; 
            border-radius: 5px;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        thead {
            background-color: #909090;
            color: #FFFFFF;
            tr {
                th {
                    border: 1px solid #a1a1a1;
                    padding: 10px;
                    font-weight: normal;
                }
            }
        }

        tbody {
            tr {
                td {
                    border: 1px solid #a1a1a1;
                    padding: 10px;
                    ul {
                        list-style-type: none;
                        li:before {
                            content: '\f005';
                            font-family: 'FontAwesome';
                            float: left;
                            margin-left: -1.5em;
                            margin-top: 3px;
                            color: #C5C5C5;
                        }
                        li.important:before {
                            color: #F69D00;
                        }
                    } 
                }

                td:nth-child(n+3) {
                    text-align: center;
                }
            }
        }
    }

    button {
        background-color: #F69D00;
        border: none;
        color: white;
        padding: 7px 37px;
        text-align: center;
        font-size: 16px;
        margin: 15px 2px;
        border-radius: 5px;
    }
}